[DEFAULT]
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=7200
ReconnectInterval=5
ConnectionType=initiator
BeginString=FIX.4.4
StartDay=sunday
EndDay=saturday
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
CheckLatency=N
UseDataDictionary=Y
DataDictionary=FIX44.xml

[SESSION]
SenderCompID=FIX_ORDER_GEN1
TargetCompID=NEXBOOK
SocketConnectPort=12000
SocketConnectHost=127.0.0.1

[SESSION]
SenderCompID=FIX_ORDER_GEN2
TargetCompID=NEXBOOK
SocketConnectPort=12001
SocketConnectHost=127.0.0.1
