[DEFAULT]
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=7200
ReconnectInterval=5
ConnectionType=initiator
BeginString=FIX.4.4
StartDay=sunday
EndDay=saturday
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=60
CheckLatency=N
UseDataDictionary=Y
DataDictionary=FIX44.xml
SocketConnectHost=127.0.0.1
TargetCompID=NEXBOOK

[SESSION]
SenderCompID=FIX_ORDER_GEN1
SocketConnectPort=12001

[SESSION]
SenderCompID=FIX_ORDER_GEN2
SocketConnectPort=12002

[SESSION]
SenderCompID=FIX_ORDER_GEN3
SocketConnectPort=12003

[SESSION]
SenderCompID=FIX_ORDER_GEN4
SocketConnectPort=12004
