[DEFAULT]
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=6000
ReconnectInterval=6030

[SESSION]
ConnectionType=initiator
BeginString=FIX.4.4
SenderCompID=FIX_ORDER_GEN
TargetCompID=NEXBOOK
StartDay=sunday
EndDay=friday
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
CheckLatency=N
SocketConnectPort=12000
SocketConnectHost=127.0.0.1
UseDataDictionary=Y
DataDictionary=FIX44.xml
